<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.626" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.7" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net452" />
</packages>